Pandas is an open source library, providing high-performance, easy-to-use data structures and data analysis tools for Python. Sounds promising!

The DataFrame is one of Pandas' most important data structures. It's basically a way to store tabular data where you can label the rows and the columns. One way to build a DataFrame is from a dictionary.

In the exercises that follow you will be working with vehicle data from different countries. Each observation corresponds to a country and the columns give information about the number of vehicles per capita, whether people drive left or right, and so on.

Three lists are defined in the script:

names, containing the country names for which data is available.
dr, a list with booleans that tells whether people drive left or right in the corresponding country.
cpc, the number of motor vehicles per 1000 people in the corresponding country.
Each dictionary key is a column label and each value is a list which contains the column elements.

In [2]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

### Import pandas as pd.

In [3]:
# Import pandas as pd
import pandas as pd

### Use the pre-defined lists to create a dictionary called my_dict. There should be three key value pairs:
key 'country' and value names.
key 'drives_right' and value dr.
key 'cars_per_cap' and value cpc.

In [4]:
# Create dictionary my_dict with three key:value pairs: my_dict
my_dict={
    'country':names,
    'driver_right':dr,
    'cars_per_cap':cpc
}

### Use pd.DataFrame() to turn your dict into a DataFrame called cars.

In [5]:
# Build a DataFrame cars from my_dict: cars
cars=pd.DataFrame(my_dict)
#cars=pd.DataFrame(my_dict,columns='driver_right','cars_per_cap','country')
    # column name serial can not be done in this way

### Print out cars and see how beautiful it is.

In [6]:
# Print cars
print(cars)

         country  driver_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [7]:
print(cars.set_index(country))
# must give the ''

NameError: name 'country' is not defined

In [15]:
print(cars.set_index('country'))

               driver_right  cars_per_cap
country
United States          True           809
Australia             False           731
Japan                 False           588
India                 False            18
Russia                 True           200
Morocco                True            70
Egypt                  True            45

In [16]:
# Definition of row_labels
row_labels = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']

In [22]:
cars.index=country

# as fact can not do this trick in default row but can with ex

NameError: name 'country' is not defined

In [20]:
# Specify row labels of cars
cars.index=row_labels
cars

           country  driver_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [13]:
cars

         country  driver_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

same as car as I did not save the result

In [ ]:
cars.columns

In [ ]:
print(type(cars.columns))

In [ ]:
x=pd.DataFrame(cars)

In [ ]:
x

In [ ]:
x=pd.DataFrame(cars,columns=['driver_right', 'cars_per_cap','country',])

In [ ]:
x

I just want to play with the columns, need to remember that pandas columns act as a list