Remember about np.logical_and(), np.logical_or() and np.logical_not(), the Numpy variants of the and, or and not operators? You can also use them on Pandas Series to do more advanced filtering operations.

Take this example that selects the observations that have a cars_per_cap between 10 and 80. Try out these lines of code step by step to see what's happening.

>cpc = cars['cars_per_cap']
between = np.logical_and(cpc > 10, cpc < 80)
medium = cars[between]

In [15]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)
cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [16]:
# Import numpy, you'll need this
import numpy as np

### Use the code sample above to create a DataFrame medium, that includes all the observations of cars that have a cars_per_cap between 100 and 500

In [17]:
# Create medium: observations with cars_per_cap between 100 and 500
cpc=cars['cars_per_cap']
between=np.logical_and(cpc>100,cpc<500)
medium=cars[between]
medium

    cars_per_cap country  drives_right
RU           200  Russia          True

In [18]:
between1=cpc>20
between1

US      True
AUS     True
JAP     True
IN     False
RU      True
MOR     True
EG      True
Name: cars_per_cap, dtype: bool

### Print out medium.

In [19]:
# Print medium
print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True